<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="piper">
    <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="simulation" default="false"/>
  <xacro:arg name="initial_positions_file" default="$(find piper_no_gripper_moveit)/config/initial_positions.yaml"/>
  <xacro:include filename="$(find piper_description)/urdf/piper_welding_gun.urdf.xacro"/>
  <xacro:include filename="piper.ros2_control.xacro"/>
  <!-- Real CAN measurements feed the controller; commands use a separate topic. -->
  <xacro:piper_ros2_control name="PiperCommandBridge" initial_positions_file="$(arg initial_positions_file)" use_mock_hardware="$(arg use_mock_hardware)"/>
</robot>
