<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="piper">

  <xacro:arg name="simulation_controllers" default="" />

  <xacro:include filename="$(find piper_description)/urdf/piper_no_gripper_description_gz.xacro"/>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <hold_joints>true</hold_joints>
      <position_proportional_gain>0.1</position_proportional_gain>
    </plugin>
  </gazebo>

</robot>
